<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smit Parekh Personal Portfolio</title>
 <!-- Open Graph Meta Tags
    <meta property="og:site_name" content="Personal Portfolio">
    <meta property="og:title" content="Personal Portfolio Website">
    <meta property="og:description" content="Created by Smit">
    <meta property="og:image" content="https://raw.githubusercontent.com/SmitParekh84/Images/main/smit-Card_portfolio/Web_Mobile%20%E2%80%94%20Template%20Website%20(Community)-1.png"> -->

    <!-- msapplication Meta Tag -->
    <!-- <meta name="msapplication-TileImage" content="https://raw.githubusercontent.com/SmitParekh84/Images/main/smit-Card_portfolio/Web_Mobile%20%E2%80%94%20Template%20Website%20(Community)-1.png"> -->

    <!--
    - favicon
  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <link
      rel="shortcut icon"
      href="images/icons8-person-16.png"
      type="image/x-icon"
    />

    <!--
    - custom css link
  -->
    <link rel="stylesheet" href="css/style.css" />

    <!--
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />

    <!-- Talwind css -->

    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div class="centered-roller">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>

  <!-- Your main content goes here -->
</div>    

   
