<article class="about active" data-page="about">
    <header>
      <h2 class="h2 article-title">About me</h2>
    </header>

    <section class="about-text">
      <p>
        As a dedicated and skilled Web Developer, I thrive on the dynamic
        intersection of technology and creativity. With over a year of
        hands-on experience in HTML, CSS, JavaScript, PHP, and SQL, I've
        honed my craft in building robust and intuitive web applications.
      </p>

      <p>
        Driven by a passion for innovation, I'm continuously expanding my
        skill set to include cutting-edge technologies such as Node.js,
        Express.js, EJS, React.js, and PostgreSQL. My goal is to create
        immersive digital experiences by crafting clean, efficient, and
        user-friendly code.
      </p>
      <p>
        What sets me apart is my unwavering commitment to excellence and
        my keen eye for detail. I believe in not just meeting but
        exceeding expectations, adding a personal touch to every project
        to ensure it's not only functional but also visually captivating.
      </p>
      <p>
        I'm eager to leverage my expertise in both front-end and back-end
        development to contribute meaningfully to dynamic web projects.
        Let's collaborate to bring your vision to life and make a lasting
        impact in the digital realm.
      </p>
    </section>

    <!--
    - service
  -->

    <section class="service">
      <h3 class="h3 service-title">What i'm doing</h3>

      <ul class="service-list">
        <li class="service-item">
          <div class="service-icon-box">
            <img
              src="images/icon-dev.svg"
              alt="Web development icon"
              width="40"
            />
          </div>

          <div class="service-content-box">
            <h4 class="h4 service-item-title">Web development</h4>

            <p class="service-item-text">
              High-quality development of sites at the professional level.
            </p>
          </div>
        </li>
        <li class="service-item">
          <div class="service-icon-box">
            <img
              src="images/icon-design.svg
          "
              alt="design icon"
              width="40"
            />
          </div>

          <div class="service-content-box">
            <h4 class="h4 service-item-title">Web design</h4>

            <p class="service-item-text">
              The most modern and high-quality design made at a
              professional level.
            </p>
          </div>
        </li>

        <li class="service-item">
          <div class="service-icon-box">
            <img
              src="images/icon-app.svg"
              alt="mobile app icon"
              width="40"
            />
          </div>

          <div class="service-content-box">
            <h4 class="h4 service-item-title">Mobile apps</h4>

            <p class="service-item-text">
              Professional development of applications and Android.
            </p>
          </div>
        </li>

        <li class="service-item">
          <div class="service-icon-box">
            <img
              src="images/icon-photo.svg"
              alt="camera icon"
              width="40"
            />
          </div>

          <div class="service-content-box">
            <h4 class="h4 service-item-title">Video Editing</h4>

            <p class="service-item-text">
              I provide professional-level editing for videos of all types
              and genres.
            </p>
          </div>
        </li>
      </ul>
    </section>

    <!--
    - testimonials
  -->

    <!-- <section class="testimonials">
      <h3 class="h3 testimonials-title">Testimonials</h3>

      <ul class="testimonials-list has-scrollbar">
        <li class="testimonials-item">
          <div class="content-card" data-testimonials-item>
            <figure class="testimonials-avatar-box">
              <img
                src="images/avatar-1.png"
                alt="Daniel lewis"
                width="60"
                data-testimonials-avatar
              />
            </figure>

            <h4
              class="h4 testimonials-item-title"
              data-testimonials-title
            >
              Daniel lewis
            </h4>

            <div class="testimonials-text" data-testimonials-text>
              <p>
                Richard was hired to create a corporate identity. We were
                very pleased with the work done. She has a lot of
                experience and is very concerned about the needs of
                client. Lorem ipsum dolor sit amet, ullamcous cididt
                consectetur adipiscing elit, seds do et eiusmod tempor
                incididunt ut laborels dolore magnarels alia.
              </p>
            </div>
          </div>
        </li>

        <li class="testimonials-item">
          <div class="content-card" data-testimonials-item>
            <figure class="testimonials-avatar-box">
              <img
                src="images/avatar-2.png"
                alt="Jessica miller"
                width="60"
                data-testimonials-avatar
              />
            </figure>

            <h4
              class="h4 testimonials-item-title"
              data-testimonials-title
            >
              Jessica miller
            </h4>

            <div class="testimonials-text" data-testimonials-text>
              <p>
                Richard was hired to create a corporate identity. We were
                very pleased with the work done. She has a lot of
                experience and is very concerned about the needs of
                client. Lorem ipsum dolor sit amet, ullamcous cididt
                consectetur adipiscing elit, seds do et eiusmod tempor
                incididunt ut laborels dolore magnarels alia.
              </p>
            </div>
          </div>
        </li>

        <li class="testimonials-item">
          <div class="content-card" data-testimonials-item>
            <figure class="testimonials-avatar-box">
              <img
                src="images/avatar-3.png"
                alt="Emily evans"
                width="60"
                data-testimonials-avatar
              />
            </figure>

            <h4
              class="h4 testimonials-item-title"
              data-testimonials-title
            >
              Emily evans
            </h4>

            <div class="testimonials-text" data-testimonials-text>
              <p>
                Richard was hired to create a corporate identity. We were
                very pleased with the work done. She has a lot of
                experience and is very concerned about the needs of
                client. Lorem ipsum dolor sit amet, ullamcous cididt
                consectetur adipiscing elit, seds do et eiusmod tempor
                incididunt ut laborels dolore magnarels alia.
              </p>
            </div>
          </div>
        </li>

        <li class="testimonials-item">
          <div class="content-card" data-testimonials-item>
            <figure class="testimonials-avatar-box">
              <img
                src="images/avatar-4.png"
                alt="Henry william"
                width="60"
                data-testimonials-avatar
              />
            </figure>

            <h4
              class="h4 testimonials-item-title"
              data-testimonials-title
            >
              Henry william
            </h4>

            <div class="testimonials-text" data-testimonials-text>
              <p>
                Richard was hired to create a corporate identity. We were
                very pleased with the work done. She has a lot of
                experience and is very concerned about the needs of
                client. Lorem ipsum dolor sit amet, ullamcous cididt
                consectetur adipiscing elit, seds do et eiusmod tempor
                incididunt ut laborels dolore magnarels alia.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </section> -->

    <!--
    - testimonials modal
  -->

    <div class="modal-container" data-modal-container>
      <div class="overlay" data-overlay></div>

      <section class="testimonials-modal">
        <button class="modal-close-btn" data-modal-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>

        <div class="modal-img-wrapper">
          <figure class="modal-avatar-box">
            <img
              src="images/avatar-1.png"
              alt="Daniel lewis"
              width="80"
              data-modal-img
            />
          </figure>

          <img src="images/icon-quote.svg" alt="quote icon" />
        </div>

        <div class="modal-content">
          <h4 class="h3 modal-title" data-modal-title>Smit PArekh</h4>

          <time datetime="2021-06-14">14 June, 2021</time>

          <div data-modal-text>
            <p>xy</p>
          </div>
        </div>
      </section>
    </div>

    <!--
    - clients
  -->

    <section class="clients">
      <h3 class="h3 clients-title">Clients</h3>

      <ul class="clients-list has-scrollbar">
        <li class="clients-item">
          <a href="https://www.contentbeta.com/" target="_blank">
            <img src="images/clients/cb.png" alt="client logo" />
          </a>
        </li>
      </ul>
    </section>
  </article>