<article class="blog" data-page="blog">
    <header>
      <h2 class="h2 article-title">Blog</h2>
    </header>

    <section class="blog-posts">
      <ul class="blog-posts-list">
        <li class="blog-post-item">
          <a
            href="https://nodejs-expressjs-ejs-blog-app.onrender.com/articles/understanding-npm-node-package-manager"
            target="_blank"
          >
            <figure class="blog-banner-box">
              <img
                src="images/blog/blog-1.jpg"
                alt="Design conferences in 2022"
                loading="lazy"
              />
            </figure>

            <div class="blog-content">
              <div class="blog-meta">
                <p class="blog-category">Design</p>

                <span class="dot"></span>

                <time datetime="2022-02-23">5/17/2024</time>
              </div>

              <h3 class="h3 blog-item-title">
                Understanding npm: Node Package Manager
              </h3>

              <p class="blog-text"></p>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </article>