<article class="portfolio" data-page="portfolio">
    <header>
      <h2 class="h2 article-title">Portfolio</h2>
    </header>

    <section class="projects">
      <ul class="filter-list">
        <li class="filter-item">
          <button class="active" data-filter-btn>All</button>
        </li>

        <li class="filter-item">
          <button data-filter-btn>Web development</button>
        </li>
        <li class="filter-item">
          <button data-filter-btn>Video editing</button>
        </li>
        <li class="filter-item">
          <button data-filter-btn>Web design</button>
        </li>
      </ul>

      <!-- 
      <li class="filter-item">
          <button data-filter-btn>Applications</button>
        </li> -->

      <div class="filter-select-box">
        <button class="filter-select" data-select>
          <div class="select-value" data-selecct-value>
            Select category
          </div>

          <div class="select-icon">
            <ion-icon name="chevron-down"></ion-icon>
          </div>
        </button>

        <ul class="select-list">
          <li class="select-item">
            <button data-select-item>All</button>
          </li>

          <li class="select-item">
            <button data-select-item>Web design</button>
          </li>

          <li class="select-item">
            <button data-select-item>Applications</button>
          </li>

          <li class="select-item">
            <button data-select-item>Web development</button>
          </li>
        </ul>
      </div>

      <ul class="project-list">
        <li
          class="project-item active"
          data-filter-item
          data-category="web design"
        >
          <a
            href="https://directorportfolio.my.canva.site/"
            target="_blank"
          >
            <figure class="project-img">
              <div class="project-item-icon-box">
                <ion-icon name="eye-outline"></ion-icon>
              </div>

              <img
                src="images/projects/project-3.png"
                alt="dsm."
                loading="lazy"
              />
            </figure>

            <h3 class="project-title">Director Portfolio</h3>

            <p class="project-category">Web design</p>
          </a>
        </li>

        <li
          class="project-item active"
          data-filter-item
          data-category="web development"
        >
          <a
            href="https://smitparekhportfolio.netlify.app/"
            target="_blank"
          >
            <figure class="project-img">
              <div class="project-item-icon-box">
                <ion-icon name="eye-outline"></ion-icon>
              </div>

              <img
                src="images/projects/project-1.png"
                alt="orizon"
                loading="lazy"
              />
            </figure>

            <h3 class="project-title">PortFolio</h3>

            <p class="project-category">Web development</p>
          </a>
        </li>
        <!-- tin dog -->
        <li
          class="project-item active"
          data-filter-item
          data-category="web design"
        >
          <a
            href="https://smitparekh84.github.io/Mini-BootStrap-WebPage/"
            target="_blank"
          >
            <figure class="project-img">
              <div class="project-item-icon-box">
                <ion-icon name="eye-outline"></ion-icon>
              </div>

              <img
                src="images/projects/project-2.png"
                alt="fundo"
                loading="lazy"
              />
            </figure>

            <h3 class="project-title">TinDog</h3>

            <p class="project-category">Web design</p>
          </a>
        </li>
        <!-- end tin dog -->

        <!-- yt1 -->
        <li
          class="project-item active"
          data-filter-item
          data-category="video editing"
        >
          <a
            href="https://www.youtube.com/playlist?list=PLLlMxB89AwL449pZeTMNQFe_h7Hn43HcL"
            target="_blank"
          >
            <figure class="project-img">
              <div class="project-item-icon-box">
                <ion-icon name="eye-outline"></ion-icon>
              </div>

              <img
                src="images/projects/yt-youtube.png"
                alt="arrival"
                loading="lazy"
              />
            </figure>
            <h3 class="project-title">
              Motion graphic / Youtube Videos / Branding video
            </h3>

            <p class="project-category">Video editing</p>
          </a>
        </li>
        <!-- yt1 -->
        <!-- yt2 -->
        <li
          class="project-item active"
          data-filter-item
          data-category="video editing"
        >
          <a
            href="https://www.youtube.com/playlist?list=PLJB1nJ8VTILlq2aZnHUYyVLJ-QnpOKb8f"
            target="_blank"
          >
            <figure class="project-img">
              <div class="project-item-icon-box">
                <ion-icon name="eye-outline"></ion-icon>
              </div>

              <img
                src="images/projects/yt-shorts.png"
                alt="arrival"
                loading="lazy"
              />
            </figure>
            <h3 class="project-title">
              Motion graphic / Youtube Videos / Branding video
            </h3>

            <p class="project-category">Video editing</p>
          </a>
        </li>
        <!-- yt2 -->
        <!-- cb -->
        <li
          class="project-item active"
          data-filter-item
          data-category="video editing"
        >
          <a
            href="https://player.vimeo.com/video/950508563?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
            target="_blank"
          >
            <figure class="project-img">
              <div class="project-item-icon-box">
                <ion-icon name="eye-outline"></ion-icon>
              </div>

              <img
                src="images/projects/yt3.png"
                alt="arrival"
                loading="lazy"
              />
            </figure>
            <h3 class="project-title">Demo Video</h3>

            <p class="project-category">Video editing</p>
          </a>
        </li>
        <!-- cb -->
      </ul>
    </section>
  </article>
