<article class="resume" data-page="resume">
    <header>
      <h2 class="h2 article-title">Resume</h2>
    </header>

    <section class="timeline">
      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="book-outline"></ion-icon>
        </div>

        <h3 class="h3">Education</h3>
      </div>

      <ol class="timeline-list">
        <li class="timeline-item">
          <h4 class="h4 timeline-item-title">
            Master of Science in Information Technology
          </h4>

          <p class="timeline-text">Charotar University</p>
          <span>2023 — 2025</span>
        </li>

        <li class="timeline-item">
          <h4 class="h4 timeline-item-title">
            Bachelor of Science in Information Technology
          </h4>

          <p class="timeline-text">Charotar University</p>
          <span>2020 — 2023</span>
        </li>
      </ol>
    </section>

    <section class="timeline">
      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="book-outline"></ion-icon>
        </div>

        <h3 class="h3">Experience</h3>
      </div>

      <ol class="timeline-list">
        <li class="timeline-item">
          <h4 class="h4 timeline-item-title">
            Web Developer at InternPe
          </h4>

          <span>May 13th, 2024 — Present</span>

          <p class="timeline-text"></p>
        </li>

        <li class="timeline-item">
          <h4 class="h4 timeline-item-title">
            Video Editor at Content Beta
          </h4>

          <span>Jun 1st, 2023 — Dec 30th, 2023</span>

          <p class="timeline-text">
            Created short-form videos, animated gifs, and motion graphics
            for social media posts.
          </p>
          <p class="timeline-text">
            Worked within tight deadlines with a team or independently and
            made quick creative editing decisions to maintain a high
            quality of work.
          </p>
        </li>

        <li class="timeline-item">
          <h4 class="h4 timeline-item-title">Freelance Video Editor</h4>

          <span>Apr 2020 — Jun 2023</span>

          <p class="timeline-text">
            Enhanced client satisfaction by delivering high-quality video
            edits within tight deadlines. • Collaborated with directors to
            create and maintain a consistent visual style across all
            projects.
          </p>
        </li>
      </ol>
    </section>


    <!-- Resume Download -->
    <form action="/download-file">
    <button class="form-btn" type="submit" >
      <ion-icon name="cloud-download-outline"></ion-icon>
      <span>Download Resume</span>
    </button>
  </form>


    <!-- skill -->
    <section class="skill">
      <h3 class="h3 skills-title">My skills</h3>

      <ul class="skills-list content-card">
        <li class="skills-item">
          <div class="title-wrapper">
            <h5 class="h5">Web development</h5>
            <data value="80">80%</data>
          </div>

          <div class="skill-progress-bg">
            <div class="skill-progress-fill" style="width: 80%"></div>
          </div>
        </li>

        <li class="skills-item">
          <div class="title-wrapper">
            <h5 class="h5">Graphic design</h5>
            <data value="70">70%</data>
          </div>

          <div class="skill-progress-bg">
            <div class="skill-progress-fill" style="width: 70%"></div>
          </div>
        </li>

        <li class="skills-item">
          <div class="title-wrapper">
            <h5 class="h5">Branding</h5>
            <data value="90">90%</data>
          </div>

          <div class="skill-progress-bg">
            <div class="skill-progress-fill" style="width: 90%"></div>
          </div>
        </li>

        <li class="skills-item">
          <div class="title-wrapper">
            <h5 class="h5">Video Editing</h5>
            <data value="90">90%</data>
          </div>

          <div class="skill-progress-bg">
            <div class="skill-progress-fill" style="width: 90%"></div>
          </div>
        </li>
      </ul>
    </section>
  </article>