<%- include("../partials/header.ejs") %>
<div class="success-page-container">
    <div class="success-message">
      <i class="success-icon fas fa-check-circle"></i>
      <div class="message">Message Sent Successfully!</div>
    </div>
  </div>
  <%- include("../partials/footer.ejs") %>
